@model lab1.Models.Manager.ManagerProfileModel

<h1>Профиль</h1>

<div>
    <h>Роль: @Model.Manager.Role.Name</h> <br/>
    <h>Фамилия: @Model.Manager.Surname</h> <br/>
    <h>Имя: @Model.Manager.FirstName</h> <br/>
    <h>Отчество: @Model.Manager.Patronymic</h> <br/>

    <h>Почта: @Model.Manager.Email</h> <br/>
    <h>Номер телефона: @Model.Manager.PhoneNumber</h> <br/>
    <h>Банк: @Model.Manager.Bank.LegalName</h> <br/>
    
    <h2>Подтверждение регистрации:</h2>
    <table class="table">
        <tbody>
        <tr>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th>
                Номер телефона
            </th>
            <th>
                Почта
            </th>
            <th>
                Серия и номер паспорта
            </th>
            <th>
                Идентификационный номер
            </th>
            <th></th>
        </tr>
                    
        @foreach (var client in @Model.Manager.ClientsToApprove)
        {
            <tr>
                <td>@client.Surname</td>
                <td>@client.FirstName</td>
                <td>@client.Patronymic</td>
                <td>@client.PhoneNumber</td>
                <td>@client.Email</td>
                <td>@client.PassportSeriesAndNumber</td>
                <td>@client.IdentificationNumber</td>
                <td>
                    <a asp-action="RegistrationApprove" asp-controller="Manager" asp-route-id="@client.Id">Подтвердить регистрацию</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <h2>История переводов:</h2>
    <table class="table">
        <tbody>
        <tr>
            <th>
                Отправитель
            </th>
            <th>
                Получатель
            </th>
            <th>
                Количество денег
            </th>
            <th></th>
        </tr>
                
        @foreach (var transfer in @Model.Manager.Transfers)
        {
            <tr>
                <td>ID: @transfer.FromAccountId</td>
                <td>ID: @transfer.ToAccountId</td>
                <td>@transfer.TransferAmount</td>
                <td>
                    <a asp-action="TransferCancel" asp-controller="Manager" asp-route-id="@transfer.Id">Отменить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <h2>Счета пользователей:</h2>
    <table class="table">
        <tbody>
        <tr>
            <th>
                Id
            </th>
            <th>
                Название
            </th>
            <th>
                Почта клиента
            </th>
            <th>
                Количество денег
            </th>
            <th>
                Заморожен
            </th>
            <th>
                Заблокирован
            </th>
            <th></th>
        </tr>
                    
        @if (@Model.Manager.BankAccounts.Count != 0)
        {
            @foreach (var account in @Model.Manager.BankAccounts)
            {
                <tr>
                    <td>@account.Id</td>
                    <td>@account.Name</td>
                    <td>@account.Client.Email</td>
                    <td>@account.Money</td>
                    <td>
                        @account.IsFrozen
                        <a asp-action="ChangeFreezeStatus" asp-controller="Manager" asp-route-id="@account.Id">Изменить</a>
                    </td>
                    <td>
                        @account.IsBlocked
                        <a asp-action="ChangeBlockStatus" asp-controller="Manager" asp-route-id="@account.Id">Изменить</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    
    <h2>Подтверждение кредитов:</h2>
    <table class="table">
        <tbody>
        <tr>
            <th>
                Пользователь
            </th>
            <th>
                Сумма
            </th>
            <th>
                Процент
            </th>
            <th>
                Количество месяцев
            </th>
            <th></th>
        </tr>
                    
        @foreach (var credit in @Model.Manager.CreditsToApprove)
        {
            <tr>
                <td>@credit.BankAccount.Client.Email</td>
                <td>@credit.Money</td>
                <td>@credit.Percent</td>
                <td>@credit.MonthCount</td>
                <td>
                    <a asp-action="CreditApprove" asp-controller="Manager" asp-route-id="@credit.Id">Подтвердить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <h2>Подтверждение рассрочек:</h2>
    <table class="table">
        <tbody>
        <tr>
            <th>
                Пользователь
            </th>
            <th>
                Сумма
            </th>
            <th>
                Количество месяцев
            </th>
            <th></th>
        </tr>
                        
        @foreach (var installmentPlan in @Model.Manager.InstallmentPlansToApprove)
        {
            <tr>
                <td>@installmentPlan.BankAccount.Client.Email</td>
                <td>@installmentPlan.Money</td>
                <td>@installmentPlan.MonthCount</td>
                <td>
                    <a asp-action="InstallmentPlanApprove" asp-controller="Manager" asp-route-id="@installmentPlan.Id">Подтвердить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>