@model lab1.Models.Client.ClientProfileModel

<h1>Профиль</h1>

@if (!@Model.Client.IsApproved)
{
    <h>Ожидается подтверждение регистрации</h>
}

else
{
    <div>
    <h>Роль: @Model.Client.Role.Name</h> <br/>
    <h>Фамилия: @Model.Client.Surname</h> <br/>
    <h>Имя: @Model.Client.FirstName</h> <br/>
    <h>Отчество: @Model.Client.Patronymic</h> <br/>

    <h>Серия и номер паспорта: @Model.Client.PassportSeriesAndNumber</h> <br/>
    <h>Идентификационный номер паспорта: @Model.Client.IdentificationNumber</h> <br/>

    <h>Почта: @Model.Client.Email</h> <br/>
    <h>Номер телефона: @Model.Client.PhoneNumber</h> <br/>
    
    <h>Компания: @Model.Client.Company.LegalName, @Model.Client.Company.LegalAddress</h>

    <h2>Счета:</h2>
    
    <form class="nav-link text-dark" asp-controller="Client" asp-action="NewBankAccount" method="get">
        <input type="submit" value="Открыть счет">
    </form>
    
    @if (@Model.Client.BankAccounts.Count == 0)
    {
        <h>Нет открытых счетов</h>
    }
    else
    {
        <form class="nav-link text-dark" asp-controller="Client" asp-action="SalaryProject" method="get">
            <input type="submit" value="Подать заявку на зарплатный проект">
        </form>
        
        <form class="nav-link text-dark" asp-controller="Client" asp-action="BankTransfer" method="get">
            <input type="submit" value="Перевод">
        </form>
        
        <table class="table">
            <tbody>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Номер счета
                </th>
                <th>
                    Банк
                </th>
                <th>
                    Количество денег
                </th>
                <th></th>
            </tr>
            
            @foreach (var account in @Model.Client.BankAccounts)
            {
                <tr>
                    <td>@account.Name</td>
                    <td>@account.Id</td>
                    <td>@account.Bank?.LegalName</td>
                    
                        @if (@account.IsBlocked == false)
                        {
                            <td>@account.Money</td>
                        }
                        else
                        {
                            <td>Счет заблокирован</td>
                        }
                    
                    <td>
                         <a asp-action="CloseBankAccount" asp-controller="Client" asp-route-id="@account.Id">Закрыть счет</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    
    <h2>Вклады:</h2>
    @if (@Model.Client.BankAccounts.Count != 0)
    {
        <form class="nav-link text-dark" asp-controller="Client" asp-action="NewBankDeposit" method="get">
            <input type="submit" value="Открыть вклад">
        </form>
        @if (@Model.Client.BankDeposits.Count == 0)
        {
            <h>Нет вкладов</h>
        }
        else
        {
            <table class="table">
                <tbody>
                <tr>
                    <th>
                        Название
                    </th>
                    <th>
                        Банк
                    </th>
                    <th>
                        Счет
                    </th>
                    <th>
                        Дата вклада
                    </th>
                    <th>
                        Дата снятия
                    </th>
                    <th>
                        Процент
                    </th>
                    <th>
                        Сумма вклада
                    </th>
                    <th></th>
                </tr>
            
                @foreach (var deposit in @Model.Client.BankDeposits)
                {
                    <tr>
                        <td>@deposit.Name</td>
                        <td>@deposit.BankAccount.Bank?.LegalName</td>
                        <td>@deposit.BankAccount.Name</td>
                        <td>@deposit.DepositDate.ToLongDateString()</td>
                        <td>@deposit.WithdrawDate.ToLongDateString()</td>
                        <td>@deposit.Percent</td>
                        <td>@deposit.Money</td>
                        <td>
                            <a asp-action="CloseBankDeposit" asp-controller="Client" asp-route-id="@deposit.Id">Закрыть счет</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    }
    
    else
    {
        <h>Для создание вклада необходимо открыть счет.</h>
    }

    <h2>Кредиты:</h2>
    @if (@Model.Client.BankAccounts.Count != 0)
    {
        <form class="nav-link text-dark" asp-controller="Client" asp-action="NewCredit" method="get">
            <input type="submit" value="Взять кредит">
        </form>
        @if (@Model.Client.Credits.Count == 0)
        {
            <h>Нет кредитов</h>
        }
        else
        {
            <table class="table">
                <tbody>
                <tr>
                    <th>
                        Банк
                    </th>
                    <th>
                        Счет
                    </th>
                    <th>
                        Дата получения
                    </th>
                    <th>
                        Количество месяцев
                    </th>
                    <th>
                        Процент
                    </th>
                    <th>
                        Сумма кредита
                    </th>
                    <th></th>
                </tr>
            
                @foreach (var credit in @Model.Client.Credits)
                {
                    <tr>
                        <td>@credit.BankAccount.Bank?.LegalName</td>
                        <td>@credit.BankAccount.Name</td>
                        <td>@credit.DepositDate.ToLongDateString()</td>
                        <td>@credit.MonthCount</td>
                        <td>@credit.Percent</td>
                        @if (!credit.IsApproved)
                        {
                            <td>Ожидается подтверждение</td>
                        }
                        else
                        {
                            <td>@credit.Money</td>
                        }
                        
                        @{ TimeSpan dateDifference = (DateTime.Today - credit.DepositDate).Duration(); }
                        @if ((DateTime.Today - credit.DepositDate).Days / 30 > credit.PaidMonthCount)
                        {
                            <td>
                                <a asp-action="PayForCredit" asp-controller="Client" asp-route-id="@credit.Id">Выплатить кредит</a>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        }
    }
    else
    {
        <h>Для взятия кредита необходимо открыть счет.</h>
    }
    
    <h2>Рассрочки:</h2>
        @if (@Model.Client.BankAccounts.Count != 0)
        {
            <form class="nav-link text-dark" asp-controller="Client" asp-action="NewInstallmentPlan" method="get">
                <input type="submit" value="Взять рассрочку">
            </form>
            @if (@Model.Client.InstallmentPlans.Count == 0)
            {
                <h>Нет рассрочек</h>
            }
            else
            {
                <table class="table">
                    <tbody>
                    <tr>
                        <th>
                            Банк
                        </th>
                        <th>
                            Счет
                        </th>
                        <th>
                            Дата получения
                        </th>
                        <th>
                            Количество месяцев
                        </th>
                        <th>
                            Сумма рассрочки
                        </th>
                        <th></th>
                    </tr>
                
                    @foreach (var installmentPlan in @Model.Client.InstallmentPlans)
                    {
                        <tr>
                            <td>@installmentPlan.BankAccount.Bank?.LegalName</td>
                            <td>@installmentPlan.BankAccount.Name</td>
                            <td>@installmentPlan.DepositDate.ToLongDateString()</td>
                            <td>@installmentPlan.MonthCount</td>
                            @if (!installmentPlan.IsApproved)
                            {
                                <td>Ожидается подтверждение</td>
                            }
                            else
                            {
                                <td>@installmentPlan.Money</td>
                            }
                           
                            @{ TimeSpan dateDifference = (DateTime.Today - installmentPlan.DepositDate).Duration();
                            }
                            @if ((DateTime.Today - installmentPlan.DepositDate).Days / 30 > installmentPlan.PaidMonthCount)
                            {
                                <td>
                                    <a asp-action="PayForInstallmentPlan" asp-controller="Client" asp-route-id="@installmentPlan.Id">Выплатить кредит</a>
                                </td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            }
        }
        else
        {
            <h>Для получения рассрочки необходимо открыть счет.</h>
        }
</div>
}